/********************************************
        FLEX & GAP CONTAINERS HELPERS 
********************************************/
.dFlex              {display: flex;}
.flexColumn         {flex-direction: column;}
.flexWrap           {flex-wrap: wrap;}
.flexWrapRev        {flex-wrap: wrap-reverse;}
.directRR           {flex-direction: row-reverse;}
.spaceBtw           {justify-content: space-between;}
.justyCtr           {justify-content: center;}
.spaceARN           {justify-content: space-around;}
.justyEnd           {justify-content: flex-end;}
.alignCtr           {align-items: center;}
.alignStart         {align-items: flex-start;}
.alignEnd           {align-items: flex-end;}
.gap1em             {gap: 1em;}
.fGrow1             {flex-grow: 1;}

/********************************************
        UTILITY | Customize text  
 *******************************************/
.txtWhite           {color: white;}
.txtGreen           {color: var(--green);}
.txtRed             {color: var(--red);}
.txtBlack           {color: black;}
.txtSmall           {font-size: small;}
.txtUnderline       {text-decoration: underline;}
.txtItalic          {font-style: italic;}
.txtAlignCtr        {text-align: center;}
.txtAlignRight      {text-align: right;}
.txtVertAlignMid    {vertical-align: middle;}
.listStyleNone      {list-style-type: none;}

/********************************************
    UTILITY | Width, Padding, Border, Margin 
 *******************************************/
.vw100              {width: 100vw;}
.vh100              {height: 100vh;}
.wid100Perc         {width: 100%;}
.wid80Perc          {width: 80%;}
.wid60Perc          {width: 60%;}
.wid50Perc          {width: 50%;}
.wid10Perc          {width: 10%;}
.pad2rem            {padding: 2rem 5rem;}
.pad1rem            {padding: 1rem;}
.pad05em            {padding: .5em;}
.marginTopBot       {margin: .8rem 0;}
.marginLat05em      {margin: 0 .5em;}
.marginLat1em       {margin: 0 1em;}
.border             {border: 1px solid var(--blue);}
.borderRadius       {border-radius: 4px;}
.borderRadius05     {border-radius: .5rem;}
.borderRadius50     {border-radius: 50%;}
.borderBottom       {border-bottom: 0.5px solid grey;}
.boxCtr             {margin: 0 auto; max-width: 57.5rem;} /* 920px su 1536px */