/******** ROOT STYLE ********/
:root {
    --pink: #FEDDD5;
    --red: #FF6863;
    --green: #869F76;
    --blue: #246D82;
}

/******** RESET STYLE ********/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/******** GENERAL STYLE ********/
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(34, 28, 33);
    color: antiquewhite;
}

